# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Environment
.env
venv/
.venv/
env/

# Data & artifacts (large files)
feature_store/*.parquet
models_artifacts/*.pkl
data/*.xlsx
data/*.csv

# MLflow
mlflow.db
mlflow_test.db
mlruns/

# Reports / outputs
reports/*.png
reports/*.csv

# IDE
.vscode/
.idea/
*.iml

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Coverage
.coverage
coverage.xml
htmlcov/

# OS
.DS_Store
Thumbs.db
